{% extends 'contest/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4 ">Delete Tournament</legend>
                <h2>Are you sure you want to delete the tournament '{{ object.name }}'?</h2>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-secondary" href="{% url 'tournament-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}